/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url(../fonts/fonts.css);

.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-body-color);
}


.rec {
  display: flex;
  color: var(--color-rec);
  width: 52px;
  height: 26px;
  align-items: center;
  margin: 10px 19px 0 0;
  justify-self: end;
}

.textRec::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-rec);
  box-shadow: 0px 0px 4px 2px var(--color-rec);
}

.header {
  display: grid;
  height: 100vh;
  min-height: 375px;
  position: relative;
  align-content: start;
}

.header::before,
.header::after {
  content:"";
  position:absolute;
  border:1px solid var(--color-text-switch-theme);
  width: 25.04px;
  height: 25px;
}

.header::after {
  right:0;
  top:0;
  border-left: none;
  border-bottom: none;
  margin: 10px 10px 0 0;
}

.header::before {
  left: 0;
  bottom: 0;
  border-right: none;
  border-top: none;
  margin: 0 0 10px 10px;
}

.textRec {
  display: flex;
  align-items: center;
  color:var(--color-rec);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  font-family: 'IBM Plex mono', sans-serif;
  text-transform: uppercase;
}

.noFocus {
  color: var(--color-text-no-focus);
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: 0;
  font-family: 'IBM Plex mono', sans-serif;
  text-shadow: 4px 4px 0px var(--color-text-shadow);
  margin-top: 65px;
  justify-self: center;
  word-spacing: 3em;
}

.textNo,
.textFocus {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-menu {
  display: flex;
  align-items: center;
  justify-self: end;
  width: 70px;
  height: 98px;
  margin-top: 39px;
  margin-right: 6px;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column;
  color:var(--color-text-switch-theme);
  gap:15px;
  justify-self: end;
}

.header__theme-menu-button {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--color-text-switch-theme) r g b / 0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-text-switch-theme);
  padding: 1.5px 13px;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--color-text-switch-theme);
}

.blcokThree {
  margin-top: 50px;
  margin-bottom: 50px;
}

.thesis {
  width: 355px;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  background-color: var(--bg-title-text);
  margin-top: 55px;
  justify-self: center;
}

.textThesis {
  display: block;
  line-height: 23.4px;
  letter-spacing: 0;
  font-size: 18px;
  color:var(--color-text-title)
}

.main {
  display: grid;
  margin-top: 40px;
}

.question {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--color-text-question);
  justify-self:center;
  width: 355px;
}

.block {
  margin-top: 20px;
  justify-self:center;
  width: 355px;
}

.titleMain {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text-title);
  background-color: var(--bg-title-text);
}

.textMain {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--color-text-main);
  margin-top: 10px;
}

.wordWithShadow {
  text-shadow: 2px 1px 0px rgba(255, 0, 112, 1);
  text-decoration: none;
}

.dophamin {
  margin-top: 20px;
}

.blockWithPicture {
  margin-top: 30px;
}

.blockPicture {
  display: grid;
  gap:10px;
}

.thesisTwo {
  margin: 20px 0;
}

.concentration {
  font-weight: 400;
}

.img {
  width: 100%;
  justify-self: center;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-top: 40px;
}

.footer::before,
.footer::after {
  content:"";
  position:absolute;
  border:1px solid var(--color-text-switch-theme);
  width: 25.04px;
  height: 25px;
}

.footer::after {
  right:0;
  top:0;
  border-left: none;
  border-bottom: none;
  margin: 10px 10px 0 0;
}

.footer::before {
  left: 0;
  bottom: 0;
  border-right: none;
  border-top: none;
  margin: 0 0 10px 10px;
}

.focus {
  color: var(--color-text-no-focus);
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: 0;
  font-family: 'IBM Plex mono', sans-serif;
  text-shadow: 4px 4px 0px var(--color-text-shadow);
  justify-self: center;
}

@media (min-width:768px) {
  .header {
    min-height: 768px;
  }

  .header::after {
    margin-top: 20px;
    margin-right: 20px;
  }

  .header::before {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .rec {
    margin-right: 30px;
    margin-top: 20px;
  }

  .header__theme-menu {
    margin-top: 145px;
    margin-right: 16px;
  }
  
  .firstblock,
  .lastblock {
    margin-left: 20px;
  }

  .dophamin {
    margin-bottom: 20px;
  }

  .gadgets {
    margin-bottom: 40px;
  }
  
  .noFocus {
    align-self: center;
    justify-self: start;
    margin-top: 175px;
  }

  .thesisHeader {
    justify-self: end;
    margin-top:165px;
  }

  .textNoFocs {
    width: 576.84px;
  }

  .firstSection {
    width: 728px;
    justify-self: center;
    margin-top: 15px;
  }

  .textNo,
  .textFocus {
    display: inline;
  }

  .block {
    width: 472px;
    justify-self: start;
    grid-column: 2/3;
  }

  .question {
    justify-self: start;
    width: 236px;
  }

  .blockWithTextGrid {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: end;
  }

  .blcokThree {
    margin-top: 60px;
  }

  .textMultitasking,
  .textDophamin,
  .titleDophamin,
  .titleMultitasking {
    width: 472px;
    align-self: start;
  }

  .multitasking {
    margin-top: 0;
  }

  .blockWithText {
    width: 728px;
    justify-self: center;
  }

  .textNoGridMain {
    width: 728px;
  }

  .titleNoGridMain {
    width: 728px;
  }

  .marginmult {
    margin-top: 20px;
  }

  .thesis {
    margin-right: 30px;
  }

  .thesisTwo {
    width: 472px;
    margin: 0px;
    margin-bottom: 20px;
  }

  .fiveRules {
    margin-top: 0;
  }

  .titlePicture {
    width: 728px;
    grid-area: title;
  }

  .img-1 {
    grid-area: img1;
  }

  .img-2 {
    grid-area: img2;
  }

  .img-3 {
    grid-area: img3;
  }

  .img-4 {
    grid-area: img4;
  }

  .img-5 {
    grid-area: img5;
  }

  .blockPicture {
    margin-top: 45px;
    width: 728px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    grid-template-areas:
      "title title title"
      "img1  img1  img2"
      "img3  img4  img2"
      "img3  img5  img5";
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .blockWithPicture {
    justify-self: center;
  }

  .footer {
    margin-top: 60px;
  }

  .footer::after {
    margin-top: 20px;
    margin-right: 20px;
  }

  .footer::before {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media (min-width:1024px) {

  .main {
    margin-top: 30px;
  }

  .header::after {
    margin-top: 18px;
    margin-right: 20px;
  }

  .header::before {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .rec {
    margin-right: 30px;
    margin-top: 20px;
    grid-row: 1;
    grid-column: 2;
  }

  .header {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    min-height: 768px;
  }
  
  .header__theme-menu {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
    margin: 20px 0 0 20px;
    width: 230px;
  }

  .header__theme-menu-list {
    gap:20px;
    flex-flow: row;
    align-self: start;
  }

  .thesis {
    width: 491px;
    align-self: start;
    grid-row: 3;
    grid-column: 1 / 3;
    justify-self: right;
    margin-top: 115px;
    margin-right:20px;
  }

  .textNoFocs {
    grid-row: 1/3;
    width: 759px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .textMultitasking,
  .textDophamin,
  .titleDophamin,
  .titleMultitasking {
    width: 649px;
    align-self: start;
  }

  .blockWithTextGrid {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 984px;
    justify-self: center;
  }

  .textMain {
    width: 649px;
  }

  .question {
    width: 314px;
  }

  .block {
    width: 649px;
    justify-self: center;
  }

  .firstSection {
    margin-top: 30px;
  }

  .blcokThree {
    width: 984px;
    margin:0 auto;
  }

  .blockWithText {
    margin-top: 47px;
  }

  .blcokThree-articles {
    display: flex;
    gap: 20px;
  }

  .textNoGridMain {
    width: 315px;
  }

  .titleNoGridMain {
    width: 315px;
  }

  .lastblock {
    align-self: start;
  }
  
  .thesisTwo {
    margin-top: 0;
    margin-right: 0;
    width: 649px;
  }

  .blockPicture {
    width: 984px;
    gap:20px;
  }

  .titlePicture {
    width: 984px;
  }

  .blockWithPicture {
    margin-top: 20px;
  }

  .img {
    margin: 0;
  }

  .footer::after {
    margin-top: 30px;
    margin-right: 20px;
  }

  .footer::before {
    margin-left: 20px;
  }

  .focus {
    margin-top: 10px;
  }

  .textNo,
  .textFocus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .noFocus {
    margin-top: 200px;
    word-spacing: 0;
  }
}