/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url(../fonts/fonts.css);

.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-body-color);
}

.header__text-decoration {
  display: flex;
  color: var(--color-rec);
  align-items: center;
  margin-block-start: 10px;
  margin-inline-end: 19px;
  justify-self: end;
}

.decoration-text::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-rec);
  box-shadow: 0px 0px 4px 2px var(--color-rec);
}

.header {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  height: 100vh;
  inline-size: 100%;
  min-height: 668px;
  position: relative;
  align-content: start;
  align-items: start;
}

.decorated-zone::before,
.decorated-zone::after {
  content:"";
  position:absolute;
  border:1px solid var(--color-text-switch-theme);
  width: 25.04px;
  height: 25px;
}

.decorated-zone::after {
  right:0;
  top:0;
  border-left: none;
  border-bottom: none;
  margin-top: 10px;
  margin-right: 10px;
}

.decorated-zone::before {
  left: 0;
  bottom: 0;
  border-right: none;
  border-top: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.decoration-text {
  display: flex;
  align-items: center;
  justify-self: right;
  margin-block-start: 10px;
  margin-inline-end: 20px;
  color:var(--color-rec);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  font-family: 'IBM Plex mono', monospace;
  text-transform: uppercase;
}

.header__title {
  color: var(--color-text-no-focus);
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: 0;
  font-family: 'IBM Plex mono', monospace;
  text-shadow: 4px 4px 0px var(--color-text-shadow);
  justify-self: center;
}

.header__text-title {
  font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.title-block {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-menu {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-self: end;
  margin-inline-end: 3px;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column;
  color:var(--color-text-switch-theme);
  gap:15px;
  justify-self: end;
  margin-block-start: 40px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--color-text-switch-theme) r g b / 0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-text-switch-theme);
  padding-block: 1.5px;
  padding-inline: 13px;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-block-end: 1px solid var(--color-text-switch-theme);
}

.block-grid {
  margin-block: 50px;
  max-width: 355px;
  justify-self: center;
}

.block-bottom {
  margin-block-start: 20px;
}

.thesis {
  width: 100%;
  max-width: 355px;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  background-color: var(--bg-title-text);
  justify-self: center;
  align-self: center;
}

.text-thesis {
  display: block;
  line-height: 23.4px;
  letter-spacing: 0;
  font-size: 18px;
  color:var(--color-text-title)
}

.main {
  display: grid;
  margin-block-start: 40px;
}

.question {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--color-text-question);
  justify-self:center;
  width: 355px;
}

.block {
  margin-block-start: 20px;
  justify-self:center;
  width: 355px;
}

.title-main {
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text-title);
  background-color: var(--bg-title-text);
}

.text-main {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--color-text-main);
  margin-block-start: 10px;
}

.word-with-shadow {
  text-shadow: 2px 1px 0px var(--color-text-shadow);
  text-decoration: none;
}

.word-with-shadow:hover {
  outline: transparent;
  border-block-end: 1px solid var(--border-hover);
}

.word-with-shadow:focus {
  outline: none;
}

.word-with-shadow:focus-visible {
  border: 1px solid var(--border-hover);
  padding: 3px;
}

.dophamin {
  margin-block-start: 20px;
}

.block-with-picture {
  margin-block-start: 30px;
}

.block-picture {
  display: grid;
  gap:10px;
}

.thesis-bottom {
  margin-block: 20px;
}

.concentration {
  font-weight: 400;
}

.img {
  width: 100%;
  justify-self: center;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-block-start: 40px;
}

.footer_titile {
  color: var(--color-text-no-focus);
  font-weight: 700;
  line-height: 0.83;
  letter-spacing: 0;
  font-family: 'IBM Plex mono', monospace;
  text-shadow: 4px 4px 0px var(--color-text-shadow);
  justify-self: center;
}

@media (min-width:768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu-list {
    margin-block-start: 150px;
  }

  .decorated-zone::after {
    margin-top: 20px;
    margin-right: 20px;
  }

  .decorated-zone::before {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .header__text-decoration {
    margin-inline-end: 30px;
    margin-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }
  
  .top-block,
  .bottom-block {
    margin-inline-start: 20px;
  }

  .top-block {
    margin: 0;
  }

  .dophamin {
    margin-block-end: 20px;
  }

  .gadgets {
    margin-block-end: 40px;
  }
  
  .header__title {
    align-self: center;
    justify-self: start;
    grid-area: 2;
  }

  .thesis-header {
    margin-block-start: -20px;
    justify-self: end;
  }

  .header__text-title {
    width: 100%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .top-section {
    max-width: 728px;
    justify-self: center;
    margin-block-start: 20px;
  }

  .title-block {
    display: inline;
  }

  .block {
    width: 100%;
    min-width: 472px;
    justify-self: start;
    grid-column: 2/3;
  }

  .bottom-block {
    max-width: 472px;
  }

  .question {
    justify-self: start;
    max-width: 236px;
  }

  .block-with-text-grid {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: end;
  }

  .block-grid {
    margin-block-start: 60px;
    margin-block-end: 80px;
  }

  .main__text-top,
  .main__title-top {
    max-width: 472px;
    align-self: start;
  }

  .top-block:not(:first-of-type) {
    margin-block-start: 20px;
  }

  .block-bottom {
    margin-block-start: 0px;
  }

  .block-with-text {
    max-width: 728px;
    justify-self: center;
  }

  .text-no-grid-main {
    max-width: 728px;
  }

  .title-no-grid-main {
    max-width: 728px;
  }

  .marginmult {
    margin-block-start: 20px;
  }

  .thesis {
    min-width:364px;
    margin-inline-end: 20px;
  }

  .thesis-bottom {
    max-width: 472px;
    margin-block-start: 0px;
    margin-block-end: 20px;
  }

  .fiveRules {
    margin-block-start: 0;
  }

  .titlePicture {
    max-width: 728px;
    grid-area: title;
  }

  .img-1 {
    grid-area: img1;
  }
  .img-2 {
    grid-area: img2;
  }
  .img-3 {
    grid-area: img3;
  }
  .img-4 {
    grid-area: img4;
  }
  .img-5 {
    grid-area: img5;
  }

  .block-picture {
    margin-block-start: 45px;
    max-width: 728px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    grid-template-areas:
      "title title title"
      "img1  img1  img2"
      "img3  img4  img2"
      "img3  img5  img5";
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .block-with-picture {
    justify-self: center;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (min-width:1024px) {

  .main {
    margin-block-start: 30px;
  }

  .decorated-zone::after {
    margin-top: 18px;
    margin-right: 20px;
  }

  .decorated-zone::before {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .header__text-decoration {
    margin-inline-end: 30px;
    margin-block-start: 20px;
    grid-row: 1;
  }

  .header {
    min-height: 768px;
  }
  
  .header__theme-menu {
    flex-flow: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    gap:20px;
    flex-flow: row;
    align-self: center;
    justify-content: flex-end;
    margin-block-start: 0;
    margin-block-start: 10px;
    margin-inline-end: 320px;
  }

  .thesis {
    min-width: 491px;
    align-self: center;
    justify-self: right;
    margin-inline-end:20px;
  }

  .header__text-title {
    grid-row: 1/3;
    min-width: 759px;
  }

  .main__text-top,
  .main__title-top {
    max-width: 649px;
    align-self: start;
  }

  .block-with-text-grid {
    margin-block-start: 20px;
    margin-block-end: 10px;
    max-width: 984px;
    justify-self: center;
  }

  .text-main {
    max-width: 649px;
  }

  .question {
    max-width: 314px;
  }

  .block {
    max-width: 649px;
    justify-self: center;
  }

  .top-section {
    margin-block-start: 30px;
  }

  .block-bottom {
    max-width: 314px;
  }

  .block-grid {
    max-width: 984px;
    margin:0 auto;
    margin-block-end: 30px;
  }

  .block-with-text {
    margin-block-start: 47px;
  }

  .block-articles {
    display: flex;
    max-width: 984px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .text-no-grid-main {
    max-width: 315px;
  }

  .title-no-grid-main {
    max-width: 315px;
  }

  .bottom-block {
    align-self: start;
  }
  
  .thesis-bottom {
    margin-block-start: 0;
    margin-inline-end: 0;
    min-width: 649px;
  }

  .block-picture {
    max-width: 984px;
    gap:20px;
  }

  .titlePicture {
    max-width: 984px;
  }

  .block-with-picture {
    margin-block-start: 20px;
  }

  .img {
    margin: 0;
  }

  .footer_titile {
    margin-block-start: 10px;
  }

  .title-block {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    word-spacing: 0;
    grid-area: 2;
    grid-column: 1; 
  }

  .decoration-text {
  }
}
